@use "../utils" as *;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(30);

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  overflow: hidden;
  background: var(--dark-card);
  color: var(--dark-text-blue);
  text-align: center;
  padding: rem(25);
  border-radius: rem(5);

  &--facebook {
    border-top: rem(5) solid var(--facebook);
  }
  &--twitter {
    border-top: rem(5) solid var(--twitter);
  }
  &--instagram {
    padding-top: rem(30);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      height: rem(4);
      background: linear-gradient(
        225deg,
        var(--instagram-end),
        var(--instagram-start) 100%
      );
    }
  }
  &--youtube {
    border-top: rem(5) solid var(--youtube);
  }

  &__platform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(20);
    // margin-top: rem(5);
    margin-bottom: rem(28);
  }

  &__icon {
    margin-right: rem(8);

    &--facebook {
    }
    &--twitter {
    }
    &--instagram {
    }
    &--youtube {
    }
  }

  &__username {
    font-size: rem(12);
    font-weight: 700;
  }

  &__followers {
    margin-bottom: rem(25);
  }

  &__count {
    color: var(--dark-text-white);
    font-weight: 700;
    letter-spacing: rem(-2);
    line-height: 1;
    margin-top: rem(4);

    &--big {
      font-size: rem(54);
    }
    &--small {
    }
  }

  &__label {
    font-size: rem(12);
    letter-spacing: rem(5);
    font-weight: 400;
    color: var(--dark-text-blue);
    text-transform: uppercase;
  }

  &__change {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(12);
    font-weight: 700;

    &--up {
      color: var(--limegreen);
    }
    &--down {
      color: var(--brightred);
    }

    img {
      margin-right: rem(4);
    }
  }

  &__number {
  }
}
